*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main-head{
    height: 100px;
    background-color: grey;
    margin-left: 200px;
    margin-right: 200px;
    
}

.small-box{
   height: 50px;
   width: 50px;
   background-color: cyan;
   display: inline-block;
   margin: 20px 0px 10px 10px

}

.hero{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;

}

.container{
    height: 500px;
    border-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;


    
}

.box-1{
    width: 100%;
    height: 125px;
    background-color: cyan;
}

.box-2{
    width: 100%;
    height: 125px;
    background-color: green;

}
.box-3{
    width: 100%;
    height: 125px;
    background-color: yellow;
    
}
.box-4{
    width: 100%;
    height: 125px;
    background-color:lightyellow;
    
}
