*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: grey;
    min-height: 10vh;
   
}

.hero{
    background-color: cyan;
    min-height: 80vh;
    margin-left: 100px;
    margin-right: 100px;
}

footer{
    min-height: 10vh;
    background-color: grey;
    margin-left: 100px;
    margin-right: 100px;
}

body{
    background-color: lightgrey;
}